{% extends 'outdoorbuddies/base.html' %}

{% block content %}
  <h2>About Outdoor Buddies</h2>
  <p>
    Outdoor Buddies is a platform that inspires outdoor adventures and events among friends or individuals. Whether you are looking for company on your next hiking trip or planning a biking event, Outdoor Buddies connects you with like-minded adventurers. Document your trips, share experiences, and join the community of outdoor enthusiasts!
  </p>
  <!-- You can add more content here as needed -->
{% endblock %}
