{% extends 'outdoorbuddies/base.html' %}

{% block content %}
  <h2>Latest Adventures</h2>
  <div>
    <div class="adventures-list">
      {% for adventure in adventures %}
        <div class="adventure-post">
          <a href="{% url 'adventure_detail' adventure.id %}">
            {% if adventure.picture %}
              <img src="{{ adventure.picture.url }}" alt="Adventure Picture" class="adventure-photo">
            {% endif %}
            <h3>{{ adventure.description }}</h3>
            <p>Tag: {{ adventure.tag.name }}</p>
          </a>
        </div>
      {% empty %}
        <p>No adventures posted yet.</p>
      {% endfor %}
    </div>
{% endblock %}
