{% extends 'outdoorbuddies/base.html' %}

{% block content %}
  <div class="profile">
    <h2>Your Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_form.as_p }}
      <button type="submit">Update Profile</button>
    </form>
  </div>

  <div class="user-adventures">
    <h2>Your Adventures</h2>
    {% for adventure in adventures %}
      <a href="{% url 'adventure_detail' adventure.id %}" class="adventure-post-link">
        <div class="adventure-post">
            {% if adventure.picture %}
                <img src="{{ adventure.picture.url }}" alt="Adventure Picture" class="adventure-photo">
            {% endif %}
            <div class="adventure-info">
                <h3>{{ adventure.location }}</h3>
                <p>{{ adventure.description }}</p>
                <p>Time: {{ adventure.event_datetime|date:"d M Y H:i" }}</p>
                <p>Participants: {{ adventure.max_participants }}</p>
            </div>
        </div>
      </a>
    {% empty %}
      <p>No adventures posted yet.</p>
    {% endfor %}
  </div>
{% endblock %}
