body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
.navbar { background-color: #333; color: white; display: flex; justify-content: space-between; align-items: center; padding: 0.5rem; }
.navbar a { color: white; padding: 0.5rem; text-decoration: none; }
.navbar a:hover { background-color: #ddd; color: black; }
.footer { background-color: #333; color: white; text-align: center; padding: 1rem; position: absolute; bottom: 0; width: 100%; }
.profile-info { display: flex; align-items: center; }
.profile-photo { width: 30px; height: 30px; border-radius: 50%; margin-right: 0.5rem; }
.messages { padding: 10px; margin-bottom: 20px;
}
.messages li { list-style: none; margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;
}
.adventures-list .adventure-post {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.adventure-photo {
    width: 100%;
    height: auto;
}
